h4:first-line{
background-color: green;
font-family: ravie;
color:black;
text-decoration: underline;
}

div#kernel p::first-letter {
padding: 5x;
border: 10px solid purple;
font-size: 500%;
line-height: .5em;
margin-right:10px;
float:left;
background-color: yellow;
}


h2#penaldo {
border:1px solid red;
padding:20px;	
} 

h2#penaldo::before {
content:"katryska";
color:white;
border: 1px solid blue;
background-color: black;
}

h2#penaldo::after{
content:"krahtah";
color:aqua;
border: 2px dotted green;
}